<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-5/css/all.min.css">
    <script src="../../assets/js/detail_forum.js"></script>
    <link rel="stylesheet" href="../../assets/css/detail_forum.css">
    <title>Detail forum</title>
</head>
<body>
    <div class="container">
        <div class="question row">
            <div class="col-md-2 col-2 image">
                <img src="../../assets/images/profil.png" alt="">
            </div>
            <div class="col-md-9 col-9 content">
                <h1>Comment faire un forum ?</h1>
                <p class="metadata">Publié par Koto, il y a 2 jour</p>
                <hr>
                <p>
                    Salut les amis, J'ai fais mon devoir de science et il y  a quelque chose
                    que je ne comprends pas sur les ADN, existe t-il une fonctinon pour extraire
                    une partie d'ADN ?
                </p>
            </div>
            <div class="col-md-1 col-1 params">
                <p><a href="">Signaler</a></p>
            </div>
        </div>
        <div class="separation">
            <p>Tous les réponses</p>
        </div>
        <div class="commentaires">
            <div class="row coms my-5">
                <div class="col-md-1 col-1 profil">
                    <img src="../../assets/images/profil.png" alt="">
                    <br>
                    <label>To</label>
                </div>
                <div class="col-md-9 col-9 reponse">
                    <h5 class="entete">Publié il y a 10 min</h5>
                    <p>
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                    </p>
                </div>
                <div class="col-md-2 col-2 vote">
                    <a href=""><i class="far fa-thumbs-up"></i></a> <span>15</span> <a href=""><i class="far fa-thumbs-down dislike"></i></a>
                </div>
            </div>
        </div>

        <div class="commentaires">
            <div class="row coms my-5">
                <div class="col-md-1 col-1 profil">
                    <img src="../../assets/images/profil.png" class="mb-1" alt="">
                    <br>
                    <label >Ony</label>
                </div>
                <div class="col-md-9 col-9 reponse">
                    <h5 class="entete">Publié il y a 10 min</h5>
                    <p>
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                    </p>
                </div>
                <div class="col-md-2 col-2 vote">
                    <a href=""><i class="far fa-thumbs-up"></i></a> <span>15</span> <a href=""><i class="far fa-thumbs-down dislike"></i></a>
                </div>
            </div>
        </div>

        <div class="commentaires">
            <div class="row coms my-5">
                <div class="col-md-1 col-1 profil">
                    <img src="../../assets/images/profil.png" alt="">
                    <br>
                    <label>Feno</label>
                </div>
                <div class="col-md-9 col-9 reponse">
                    <h5 class="entete">Publié il y a 10 min</h5>
                    <p>
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                        Je te suggere de faire ceci puis oriente le banana labas , apres la reflection de l'eau est parfaite
                    </p>
                </div>
                <div class="col-md-2 col-2 vote">
                    <a href=""><i class="far fa-thumbs-up"></i></a> <span>15</span> <a href=""><i class="far fa-thumbs-down dislike"></i></a>
                </div>
            </div>
        </div>

        <div class="chat">
            <a href="#" onclick="showToast()">
                <img src="../../assets/images/icone.png" alt="">
            </a>
        </div>

        <div class="position-fixed toast-position cacher    " id="toast-position" style="z-index: 11">
            <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto"><span class="toast-entete"> Votre réponse</span></strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" onclick="closeToast()" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <form action="" method="">
                        <label for="" class="form-label">Votre message</label>
                        <textarea name="message" id="" cols="25" rows="5" class="form-control"></textarea>
                        <input type="submit" class="btn btn-info mt-4" value="Valider">
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>