<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-5/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/loadingBar/dist/loading-bar.min.css"/>
    <script type="text/javascript" src="../../assets/js/loadingBar/dist/loading-bar.min.js"></script>
    <script src="../../assets/js/gestion_projet.js"></script>
    <link rel="stylesheet" href="../../assets/css/gestion_projet.css">
    <title>Gestion de projet</title>
</head>
<body>
    <div class="container">
        <h1>Gestion de projet</h1>
        <div class="row mt-4">
            <div class="col-md-3 project-main">
                <h3 class="mb-3">Listes de vos projet</h3>
                <div class="listes-projet">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-md-6 titre">
                                Exposés SIG 
                            </div>
                            <div class="col-md-6 progression">
                                <div class="ldBar label-center" data-value="35" data-preset="line"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-md-6 titre">
                                Projet Mr Tahina
                            </div>
                            <div class="col-md-6 progression">
                                <div class="ldBar label-center" data-value="76" data-preset="line"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-md-6 titre">
                                Devoir Francais
                            </div>
                            <div class="col-md-6 progression">
                                <div class="ldBar label-center" data-value="60" data-preset="line"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-md-6 titre">
                                Devoir Francais
                            </div>
                            <div class="col-md-6 progression">
                                <div class="ldBar label-center" data-value="60" data-preset="line"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="new-project">
                    <h4>Nouveau projet</h4>
                    <form action="">
                        <label for="" class="form-label">Nom du projet</label>
                        <input type="text" name="nom" class="form-control">
                        <input type="submit" value="Valider" class="btn btn-info mt-3">
                    </form>
                </div>
            </div>
            <div class="offset-md-1 col-md-8 detail">
                <div class="dropdown">
                    <h3>Avancement <span class="espacement"></span>
                        <button class="btn btn-default" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu mt-1" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Renommer</a></li>
                            <li><a class="dropdown-item" href="#">Supprimer</a></li>
                        </ul>
                    </h3>
                </div>

     
                <!-- Modal pour renommer -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title title" id="exampleModalLabel">Renommer projet</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="rename">Nouveau nom</p>
                            <input type="text" name="nom" class="form-control">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </div>
                    </div>
                </div>

                <p>80 %</p>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="date-limit row">
                    <div class="col-md-1"><i class="far fa-calendar-alt"></i></div>
                    <div class="col-md-4 date">05 Mars 2023</div>
                    <div class="col-md-1"> - </div>
                    <div class="col-md-4 date">No deadLine</div>
                </div>
                <div class="jour-restant row mt-3">
                    <div class="col-md-1"><i class="far fa-clock"></i></div>
                    <div class="col-md-5 jour">Jour restant : <span> - </span></div>
                </div>
                <div class="jour-restant row mt-3">
                    <div class="col-md-1"><i class="far fa-file-alt"></i></div>
                    <div class="col-md-5 jour">Description : </div>
                    <br>
                    <div class="form">
                        <form action="" method="">
                            <textarea name="" id="" cols="20" rows="3" placeholder="Description" class="mt-3 form-control description"></textarea>
                            <input type="submit" class="btn btn-info btn-sm enregistrer" value="Save">
                        </form>
                    </div>
                </div>

                <div class="tache">
                    <h3 class="mt-2">Tâches <span> : </span></h3>
                    <div class="listes-taches">
                        <ul>
                            <a href=""><li><i  class="far fa-circle"></i> Emploie du temps </li></a>
                            <a href=""><li><i class="far fa-circle"></i> Projet Management </li></a>
                            <a href=""><li><i class="far fa-check-circle"></i> Mon compte </li></a>
                            <a href=""><li><i class="far fa-check-circle"></i> Réalisation de l'hackaton </li></a>
                        </ul>
                    </div>
                    <div class="new-task">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-plus-circle"></i> Nouvelle tâche </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ajout nouvelle tâche</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="">
                                    <div class="modal-body">
                                        <label for="" class="form-label">Nouvelle Tâches</label>
                                        <input type="text" class="form-control" name="tache">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>