<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-5/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <img src="../../assets/images/profil.png" class="mb-4" alt="">
            <p class="accueil">Bienvenue dans notre plateforme<br>
            Veuillez vous connecter tout d'abord</p>
            <form action="" class="form formulaire">
                <div class="equipe mt-4">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Votre nom d'utilisateur">
                </div>
                <div class="equipe mt-4">
                    <i class="fas fa-lock"></i>
                    <input type="password" class="form-control"  placeholder="Votre mot de passe">
                </div>
                <p><a href="">Voulez-vous vous inscrire ?</a></p>
                <button type="submit" class="btn btn-info mt-2 connexion">Connexion</button>
            </form>
        </div>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>