<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-5/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/inscription2.css  ">
    <title>Modifier profil</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <p class="accueil">Détail de l'étudiant<br>
            <p class="text">Veuillez remplir les champs ci-dessous</p>
            <form action="" class="form formulaire">
                <div class="row">
                    <div class="col-md-12">
                        <div class="equipe mt-3">
                            <label for="" class="form-label">Filière</label>
                            <select name="filiere" id="" class="form-select">
                                <option value="">Informatique</option>
                                <option value="">Communication</option>
                                <option value="">Medecine</option>
                            </select>
                        </div>
                        <div class="equipe mt-3">
                            <label for="" class="form-label">Etablissement</label>
                            <select name="filiere" id="" class="form-select">
                                <option value="">IT University</option>
                                <option value="">DEGS Ankatso</option>
                                <option value="">ESPA Vontovorona</option>
                            </select>
                        </div>
                        <div class="equipe mt-3">
                            <label for="" class="form-label">Niveau d'étude</label>
                            <select name="filiere" id="" class="form-select">
                                <option value="">non Baccelier</option>
                                <option value="">BACC +1 </option>
                                <option value="">BACC + 2</option>
                                <option value="">DOCTORAT</option>
                            </select>
                        </div>
                        <div class="equipe mt-3">
                            <label for="" class="form-label">Carrière envisagée</label>
                            <select name="filiere" id="" class="form-select">
                                <option value="">Gendarme</option>
                                <option value="">Enseignant</option>
                                <option value="">Informaticien</option>
                                <option value="">DOCTORAT</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info mt-4 connexion">Valider</button>
            </form>
        </div>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>